doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")  
    body 

    header
        h1 zoom 
    main 
        h2 welcome to zoom
    button call
    script(src="/public/js/app.js")